%section.session
  .content
    = render '/shared/flashes'

    = semantic_form_for :user, :url => '/forgot_password' do |f|
      %p
        %input#username.login.username-field{:type => 'text', :name => 'user[email]', :value => '', :placeholder => 'Email'}
      %p
        %button.btn= t :submit

    .extra
      %p
        %a{:href => '/signup'}= t :create_a_new_account
