%aside
  .social
    %a{href: "/mine", title: 'Home'}
      %i.icon-circle-arrow-left
    - if !@article.published?
      %a.publish{href: publish_article_path(@article.permalink), title: "Publish"}
        %i.icon-share
    %a.spinner
      %i.icon-spin.icon-spinner
    %a.percent
    .clearfix

  %ul#images-list
    - current_user.images.limit(9).each do |i|
      %li
        %img{id: "image#{i.id}", src: i.image_file.thumb.url, width:"200", 'data-large' => i.image_file.large.url, 'data-width' => i.image_width}
